<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mycart2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GoHallUI</display-name>
    <servlet-name>GoHallUI</servlet-name>
    <servlet-class>com.wuzhixin.controller.GoHallUI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoHallUI</servlet-name>
    <url-pattern>/GoHallUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShoppingCl</display-name>
    <servlet-name>ShoppingCl</servlet-name>
    <servlet-class>com.wuzhixin.controller.ShoppingCl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCl</servlet-name>
    <url-pattern>/ShoppingCl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderCl</display-name>
    <servlet-name>OrderCl</servlet-name>
    <servlet-class>com.wuzhixin.controller.OrderCl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderCl</servlet-name>
    <url-pattern>/OrderCl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitOrder</display-name>
    <servlet-name>SubmitOrder</servlet-name>
    <servlet-class>com.wuzhixin.controller.SubmitOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitOrder</servlet-name>
    <url-pattern>/SubmitOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShoppingClSendRedirect</display-name>
    <servlet-name>ShoppingClSendRedirect</servlet-name>
    <servlet-class>com.wuzhixin.controller.ShoppingClSendRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingClSendRedirect</servlet-name>
    <url-pattern>/ShoppingClSendRedirect</url-pattern>
  </servlet-mapping>
</web-app>